<h1>{{name}}</h1>

<h2>Add Addresses</h2>
<!--Add and list addresses-->
<form (submit)="addAddress(address.value)">
  <div>
    <label for="address">Address:</label>
    <input type="text" #address>
  </div>
</form>
<ul>
  <li *ngFor="let address of addresses; let i = index">
    {{i + 1}}: {{address}} <button (click)="deleteAddress(i)">X</button>
  </li>
</ul>

<!--Finding Addresseses-->
<h2>Find Addresses</h2>
<input #searchAdd placeholder="Address..." [(ngModel)]="addressName" (input)="filterItem(searchAdd.value)">

<div *ngFor="let item of filteredItems">
  {{item.addressName}}
</div>

